.page-section {
  padding-top: 80px;
  background: $dark;

  .page-banner {
    position: relative;
    @extend %img;
    overflow: hidden;
    
    .section-description {
      text-align: center;
      padding: 60px 0;
      color: #fff;
    }
  }

  .page-content {
    padding: 40px 0 50px;
  }
}